footer {
  background-color: #9cb0c0;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1% 0;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 100px;
}