.page {
  padding: 0 3em;
  font-size: 16px;
  h1 {
    text-align: center;
    line-height: 1.8em;
    margin-bottom: 0.8em;
  }
  .last-updated {
    text-align: center;
    padding-bottom: 1.8em;
  }
}